*{
    margin: 0;
    padding: 0;
}
.whole {
    background-color: yellow;
}
.same{
    font-size: 20px;
    color: green;
}
#head{
    color: blue;
    font-size: 60px;
}
#last_para{
      color: red;
}