*{
    margin: 0px;
    padding: 0;

}
div{
    margin: 10px;
    border: 20px solid black;
    height: 500px;
    background-color: green;
   text-align: center;
    box-sizing: border-box;
}
h1{
     display: inline-block;
    border: 5px dotted black;
    box-sizing: border-box;
   padding: 10px;
    margin: 10px;
    
}
/* ye aese margin se center par lane se bahar jayega
kuch aur sochna padega  */

